USE [master]
GO
/****** Object:  Database [KLSFurniture]    Script Date: 3/25/2026 11:30:21 AM ******/
CREATE DATABASE [KLSFurniture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KLSFurniture', FILENAME = N'C:\Users\user\source\repos\lfentress-UWG\KLS-Furniture\KLS-Furniture\App_Data\KLSFurniture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KLSFurniture_log', FILENAME = N'C:\Users\user\source\repos\lfentress-UWG\KLS-Furniture\KLS-Furniture\App_Data\KLSFurniture.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KLSFurniture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KLSFurniture]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[sex] [char](1) NULL,
	[date_of_birth] [date] NULL,
	[phone] [varchar](20) NULL,
	[address_line_1] [varchar](100) NULL,
	[address_line_2] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [char](2) NULL,
	[zip_code] [varchar](10) NULL,
 CONSTRAINT [pk_employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_employees_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furniture]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furniture](
	[furniture_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](500) NULL,
	[category_id] [int] NOT NULL,
	[style_id] [int] NOT NULL,
	[daily_rate] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [pk_furniture] PRIMARY KEY CLUSTERED 
(
	[furniture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furniture_categories]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furniture_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](30) NOT NULL,
 CONSTRAINT [pk_furniture_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_furniture_categories_category_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furniture_styles]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furniture_styles](
	[style_id] [int] IDENTITY(1,1) NOT NULL,
	[style_name] [varchar](30) NOT NULL,
 CONSTRAINT [pk_furniture_styles] PRIMARY KEY CLUSTERED 
(
	[style_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_furniture_styles_style_name] UNIQUE NONCLUSTERED 
(
	[style_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[member_id] [int] IDENTITY(10000,1) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[sex] [char](1) NULL,
	[date_of_birth] [date] NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address_line_1] [varchar](100) NULL,
	[address_line_2] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [char](2) NULL,
	[zip_code] [varchar](10) NULL,
 CONSTRAINT [pk_members] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_transaction_items]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_transaction_items](
	[rental_transaction_id] [int] NOT NULL,
	[furniture_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[daily_rate_at_rent] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_rental_transaction_items] PRIMARY KEY CLUSTERED 
(
	[rental_transaction_id] ASC,
	[furniture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_transactions]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_transactions](
	[rental_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[rental_date_time] [datetime2](0) NOT NULL,
	[due_date_time] [datetime2](0) NOT NULL,
 CONSTRAINT [pk_rental_transactions] PRIMARY KEY CLUSTERED 
(
	[rental_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_transaction_items]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_transaction_items](
	[return_transaction_id] [int] NOT NULL,
	[rental_transaction_id] [int] NOT NULL,
	[furniture_id] [int] NOT NULL,
	[quantity_returned] [int] NOT NULL,
	[fine_amount] [decimal](10, 2) NOT NULL,
	[refund_amount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_return_transaction_items] PRIMARY KEY CLUSTERED 
(
	[return_transaction_id] ASC,
	[rental_transaction_id] ASC,
	[furniture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_transactions]    Script Date: 3/25/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_transactions](
	[return_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[return_date_time] [datetime2](0) NOT NULL,
	[total_fine_amount] [decimal](10, 2) NOT NULL,
	[total_refund_amount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_return_transactions] PRIMARY KEY CLUSTERED 
(
	[return_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_furniture_category_id]    Script Date: 3/25/2026 11:30:22 AM ******/
CREATE NONCLUSTERED INDEX [idx_furniture_category_id] ON [dbo].[furniture]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_furniture_style_id]    Script Date: 3/25/2026 11:30:22 AM ******/
CREATE NONCLUSTERED INDEX [idx_furniture_style_id] ON [dbo].[furniture]
(
	[style_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_members_last_name_first_name]    Script Date: 3/25/2026 11:30:22 AM ******/
CREATE NONCLUSTERED INDEX [idx_members_last_name_first_name] ON [dbo].[members]
(
	[last_name] ASC,
	[first_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_members_phone]    Script Date: 3/25/2026 11:30:22 AM ******/
CREATE NONCLUSTERED INDEX [idx_members_phone] ON [dbo].[members]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_return_transaction_items_rental_furniture]    Script Date: 3/25/2026 11:30:22 AM ******/
CREATE NONCLUSTERED INDEX [idx_return_transaction_items_rental_furniture] ON [dbo].[return_transaction_items]
(
	[rental_transaction_id] ASC,
	[furniture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [df_employees_is_admin]  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[furniture]  WITH CHECK ADD  CONSTRAINT [furniture_fk_furniture_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[furniture_categories] ([category_id])
GO
ALTER TABLE [dbo].[furniture] CHECK CONSTRAINT [furniture_fk_furniture_categories]
GO
ALTER TABLE [dbo].[furniture]  WITH CHECK ADD  CONSTRAINT [furniture_fk_furniture_styles] FOREIGN KEY([style_id])
REFERENCES [dbo].[furniture_styles] ([style_id])
GO
ALTER TABLE [dbo].[furniture] CHECK CONSTRAINT [furniture_fk_furniture_styles]
GO
ALTER TABLE [dbo].[rental_transaction_items]  WITH CHECK ADD  CONSTRAINT [rental_transaction_items_fk_furniture] FOREIGN KEY([furniture_id])
REFERENCES [dbo].[furniture] ([furniture_id])
GO
ALTER TABLE [dbo].[rental_transaction_items] CHECK CONSTRAINT [rental_transaction_items_fk_furniture]
GO
ALTER TABLE [dbo].[rental_transaction_items]  WITH CHECK ADD  CONSTRAINT [rental_transaction_items_fk_rental_transactions] FOREIGN KEY([rental_transaction_id])
REFERENCES [dbo].[rental_transactions] ([rental_transaction_id])
GO
ALTER TABLE [dbo].[rental_transaction_items] CHECK CONSTRAINT [rental_transaction_items_fk_rental_transactions]
GO
ALTER TABLE [dbo].[rental_transactions]  WITH CHECK ADD  CONSTRAINT [rental_transactions_fk_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[rental_transactions] CHECK CONSTRAINT [rental_transactions_fk_employees]
GO
ALTER TABLE [dbo].[rental_transactions]  WITH CHECK ADD  CONSTRAINT [rental_transactions_fk_members] FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([member_id])
GO
ALTER TABLE [dbo].[rental_transactions] CHECK CONSTRAINT [rental_transactions_fk_members]
GO
ALTER TABLE [dbo].[return_transaction_items]  WITH CHECK ADD  CONSTRAINT [return_transaction_items_fk_rental_transaction_items] FOREIGN KEY([rental_transaction_id], [furniture_id])
REFERENCES [dbo].[rental_transaction_items] ([rental_transaction_id], [furniture_id])
GO
ALTER TABLE [dbo].[return_transaction_items] CHECK CONSTRAINT [return_transaction_items_fk_rental_transaction_items]
GO
ALTER TABLE [dbo].[return_transaction_items]  WITH CHECK ADD  CONSTRAINT [return_transaction_items_fk_return_transactions] FOREIGN KEY([return_transaction_id])
REFERENCES [dbo].[return_transactions] ([return_transaction_id])
GO
ALTER TABLE [dbo].[return_transaction_items] CHECK CONSTRAINT [return_transaction_items_fk_return_transactions]
GO
ALTER TABLE [dbo].[return_transactions]  WITH CHECK ADD  CONSTRAINT [return_transactions_fk_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[return_transactions] CHECK CONSTRAINT [return_transactions_fk_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [ck_employees_sex_allowed] CHECK  (([sex] IS NULL OR ([sex]='O' OR [sex]='F' OR [sex]='M')))
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [ck_employees_sex_allowed]
GO
ALTER TABLE [dbo].[furniture]  WITH CHECK ADD  CONSTRAINT [ck_furniture_daily_rate_non_negative] CHECK  (([daily_rate]>=(0)))
GO
ALTER TABLE [dbo].[furniture] CHECK CONSTRAINT [ck_furniture_daily_rate_non_negative]
GO
ALTER TABLE [dbo].[furniture]  WITH CHECK ADD  CONSTRAINT [ck_furniture_quantity_non_negative] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[furniture] CHECK CONSTRAINT [ck_furniture_quantity_non_negative]
GO
ALTER TABLE [dbo].[members]  WITH CHECK ADD  CONSTRAINT [ck_members_sex_allowed] CHECK  (([sex] IS NULL OR ([sex]='O' OR [sex]='F' OR [sex]='M')))
GO
ALTER TABLE [dbo].[members] CHECK CONSTRAINT [ck_members_sex_allowed]
GO
ALTER TABLE [dbo].[rental_transaction_items]  WITH CHECK ADD  CONSTRAINT [ck_rental_transaction_items_daily_rate_at_rent_non_negative] CHECK  (([daily_rate_at_rent]>=(0)))
GO
ALTER TABLE [dbo].[rental_transaction_items] CHECK CONSTRAINT [ck_rental_transaction_items_daily_rate_at_rent_non_negative]
GO
ALTER TABLE [dbo].[rental_transaction_items]  WITH CHECK ADD  CONSTRAINT [ck_rental_transaction_items_quantity_positive] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[rental_transaction_items] CHECK CONSTRAINT [ck_rental_transaction_items_quantity_positive]
GO
ALTER TABLE [dbo].[rental_transactions]  WITH CHECK ADD  CONSTRAINT [ck_rental_transactions_due_after_rental] CHECK  (([due_date_time]>=[rental_date_time]))
GO
ALTER TABLE [dbo].[rental_transactions] CHECK CONSTRAINT [ck_rental_transactions_due_after_rental]
GO
ALTER TABLE [dbo].[return_transaction_items]  WITH CHECK ADD  CONSTRAINT [ck_return_transaction_items_fine_non_negative] CHECK  (([fine_amount]>=(0)))
GO
ALTER TABLE [dbo].[return_transaction_items] CHECK CONSTRAINT [ck_return_transaction_items_fine_non_negative]
GO
ALTER TABLE [dbo].[return_transaction_items]  WITH CHECK ADD  CONSTRAINT [ck_return_transaction_items_quantity_returned_positive] CHECK  (([quantity_returned]>(0)))
GO
ALTER TABLE [dbo].[return_transaction_items] CHECK CONSTRAINT [ck_return_transaction_items_quantity_returned_positive]
GO
ALTER TABLE [dbo].[return_transaction_items]  WITH CHECK ADD  CONSTRAINT [ck_return_transaction_items_refund_non_negative] CHECK  (([refund_amount]>=(0)))
GO
ALTER TABLE [dbo].[return_transaction_items] CHECK CONSTRAINT [ck_return_transaction_items_refund_non_negative]
GO
ALTER TABLE [dbo].[return_transactions]  WITH CHECK ADD  CONSTRAINT [ck_return_transactions_total_fine_non_negative] CHECK  (([total_fine_amount]>=(0)))
GO
ALTER TABLE [dbo].[return_transactions] CHECK CONSTRAINT [ck_return_transactions_total_fine_non_negative]
GO
ALTER TABLE [dbo].[return_transactions]  WITH CHECK ADD  CONSTRAINT [ck_return_transactions_total_refund_non_negative] CHECK  (([total_refund_amount]>=(0)))
GO
ALTER TABLE [dbo].[return_transactions] CHECK CONSTRAINT [ck_return_transactions_total_refund_non_negative]
GO
USE [master]
GO
